
dist
tmp
out
.idea

/* USER FILES */
build/user_build_properties/movence-build.properties
LoadingEngine-movence.properties

/* SERVER SPECIFIC FILES */
build/hibernate
build/resource
jcvi.ipr
jcvi.iws
.git-rewrite/
